<div class="upper ms-5 row h">
  <div class="col mt-3 h">
    <p>Valna jednadžba:</p>
    <div id="VJ" [innerHtml]="VJ"></div>
  </div>
  <div class="col mt-3 h">
    <p>Rubni uvjeti:</p>
    <div id="RU" [innerHtml]="RU"></div>
  </div>
  <div class="col mt-3 h">
    <p>Početni uvjeti:</p>
    <div [ngClass]="{'scrollable1': segment_v.length > 5 || segment_u.length > 5}" id="PU" [innerHtml]="PU"></div>
  </div>
</div>
<div class="ws" [ngClass]="{'mb': (segments_u.length > 1 && segments_v.length > 1) || segments_u.length > 2 || segments_v.length > 2}">
  <div class="card row">
    <div class="col-md-5 ms-0">

      <!-- Duljina žice -->
      <div class="row align-items-center">
        <div class="col-auto">
          <label for="duljina-zice" class="col-form-label">
            <div id="l" [innerHtml]="l"></div>
          </label>
        </div>
        <div class="col-auto">
          <input type="number" min="0" max="10" id="duljina-zice" class="form-control" [(ngModel)]="tempduljinaZice">
        </div>
      </div>

      <!-- Brzina širenja vala -->
      <div class="row align-items-center">
        <div class="col-auto">
          <label for="brzina-sirenja-vala" class="col-form-label">
            <div id="c" [innerHtml]="c"></div>
          </label>
        </div>
        <div class="col-auto">
          <input type="number" min="0" max="100" step="1" id="brzina-sirenja-vala" class="form-control" [(ngModel)]="tempbrzinaVala">
        </div>
      </div>

      <!-- Početni položaj -->
      <div class="row mt-2 align-items-center">
        <div class="about">?
          <span class="about-text">Opisuje položaj žice u početnom trenutku. Pritiskom na gumb '+' funkcija se može definirati po segmentima.</span>
        </div>
        <div class="col-auto">
          <label class="col-form-label">
            <div id="u0" [innerHtml]="u0"></div>
          </label>
        </div>
        <div class="col-auto" *ngIf="segments_u.length == 1">
          <input type="text" class="form-control" id="pocetni-polozaj" [(ngModel)]="temppocetniPolozaj">
        </div>
        <div class="col-auto" [ngClass]="{'scrollable2': segments_u.length > 3}" *ngIf="segments_u.length > 1">
          <div *ngFor="let i of segments_u">
            <div class="row">
              <input style="width: 115px;" type="text" class="form-control" [id]="'pocetni-polozaj-'+i" [(ngModel)]="temppocetniPolozaji[i]">
              <input style="width: 115px;" type="text" class="form-control" [id]="'segment_u-'+i" placeholder="[a, b]" [(ngModel)]="tempsegment_u[i]">
            </div>
          </div>
        </div>
        <div class="col-auto d-flex bs">
          <button class="btn" (click)="addSegment_u()">+</button>
          <div *ngIf="segments_u.length > 1">
            <button class="btn" (click)="removeSegment_u()">--</button>
          </div>
        </div>
      </div>

      <!-- Početna brzina -->
      <div class="row mt-2 align-items-center">
        <div class="about">?
          <span class="about-text">Opisuje početnu brzinu žice. Pritiskom na gumb '+' funkcija se može definirati po segmentima.</span>
        </div>
        <div class="col-auto">
          <label class="col-form-label">
            <div id="v0" [innerHtml]="v0"></div>
          </label>
        </div>
        <div class="col-auto" *ngIf="segments_v.length == 1">
          <input type="text" class="form-control" id="pocetna-brzina" [(ngModel)]="temppocetnaBrzina">
        </div>
        <div class="col-auto" [ngClass]="{'scrollable2': segments_v.length > 3}" *ngIf="segments_v.length > 1">
          <div *ngFor="let i of segments_v">
            <div class="row">
              <input style="width: 115px;" type="text" class="form-control" [id]="'pocetna-brzina-'+i" [(ngModel)]="temppocetneBrzine[i]">
              <input style="width: 115px;" type="text" class="form-control" [id]="'segment_v-'+i" placeholder="[a, b]" [(ngModel)]="tempsegment_v[i]">
            </div>
          </div>
        </div>
        <div class="col-auto d-flex bs">
          <button class="btn" (click)="addSegment_v()">+</button>
          <div *ngIf="segments_v.length > 1">
            <button class="btn" (click)="removeSegment_v()">--</button>
          </div>
        </div>
      </div>

      <!-- Gumb za ažuriranje -->
      <div class="row mt-3">
        <div class="col-auto">
          <button class="btn" (click)="azuriraj()">Ažuriraj</button>
        </div>
      </div>
    </div>

    <!-- Graf -->
    <div class="graf">
      <canvas id="myChart" width="400" height="200"></canvas>
      <div class="mt-2 d-flex justify-content-between">
        <button class="btn btn-pokreni-animaciju">Pokreni animaciju</button>
        <button class="btn btn-zaustavi-animaciju">Zaustavi animaciju</button>
      </div>
    </div>
  </div>
</div>

<div class="btn2">
  <button class="btn" (click)="triggerPopup()">info</button>
</div>
<div class="info-popup" *ngIf="popup">
  <div class="popup-content">
    <h2>Tiranje napete žice </h2>
    <p>Titranje napete žice opisuje oscilacije žice koja je napeta silom duž svoje duljine. Te oscilacije su opisane valnom jednadžbom
       koja zajedno sa početnim i rubnim uvjetim čini <i>početno-rubnu zadaću za valnu jednadžbu</i>. Rješava se Fourierovom metodom koja tvrdi
       da se <i>svaku (periodičnu) funkciju može zapisati kao beskonačnu sumu sinus i kosinus funkcija</i>. Rješenje valne jednadžbe, ako
       postoji, nije jedinstveno. Za određivanje jedinstvenog rješenja potrebno je specificirati uvjete na rubovima žice i početku 
       vremenskog intervala. Postoji nekoliko vrsta rubnih uvjeta, među kojima su najvažniji Dirichletovi, Neumannovi i Robinovi uvjeti.<br>
       
       Detaljnije o njima, te samom titranju žice možete pronaći u radu: ...<br>
       Ako žica ne mijenja stanje, tj. nije u pokretu, ona je u ravnoteži te više o toj temi možete pronaći u radu: ...
    </p>
       <h2>O aplikaciji</h2>
    <p>Omogućava vizualizaciju i simulaciju korisnicima kako različiti parametri, poput duljine žice, brzine širenja vala,
       početnog položaja i početne brzine, utječu na ponašanje žice. Kroz grafičko sučelje, korisnici mogu mijenjati ove parametre u realnom 
       vremenu i odmah vidjeti rezultate, što olakšava razumijevanje matematičkog modela koji stoji iza ove pojave.
    </p>
    <button class="btn" (click)="triggerPopup()">Zatvori</button>
  </div>
</div>
