.upper {
  height: 200px;
  width: 100%;
  background-color: #f5f5f5;
}

.card {
  border: none;
  width: 100%;
  height: 400px;
  background-color: #f5f5f5;
}

.btn {
	background-color: #a8a8a8;
	color: #272626;
	text-align: center;
	width: fit-content;
	height: min-content;
	border: 2px outset #646363;
	font-size: medium;
	font-weight: bold;
	margin-left: 20px;
  margin-top: 0;
	padding: 0 6px;
}

.btn:hover {
  background-color: #828282;
}

.btn:active {
	border: 2px inset #5a5959;
}

.col-form-label {
  font-size:small;
}

.form-control {
  height: 30px;
  width: min-content;
}

.col-auto {
  margin: 0;
}

.idk {
  height: 35px;
  width: max-content;
}

.graf {
  width: 60%;
  height: 90%;
  background-color: #e4e3e3;
}

.about {
  position: relative;
  display: inline-block;
  width: min-content;
  height: min-content;
  font-size:smaller;
  margin-bottom: 15px;
  margin-left: -20px;
  background-color: #b9b9b9;
  border-radius: 20%;
  text-align: center;
  font-weight: bold;
}

.about-text {
  display: none;
  position: absolute;
  bottom: 100%;
  left: 100%;
  transform: translateX(-15%);
  background-color: #b9b9b9;
  color: #303030;
  padding: 5px 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  white-space: nowrap;
  z-index: 1;
  width: 300px;
  text-wrap: balance;
  font-weight: normal;
}

.about:hover .about-text {
  display: block;
}

.about-text::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 12%;
  transform: translateX(-100%);
  border-width: 5px;
  border-style: solid;
  border-color: #b9b9b9 transparent transparent;
}

@media (max-width: 767px) {
  .upper {
    height: auto;
    padding: 10px;
    flex-direction: column;
  }

  .card {
    height: auto;
    padding: 0;
    margin: 0;
  }

  .ws {
    flex-direction: column;
  }

  .graf {
    width: 100%;
    height: 200px;
    margin-top: 10px;
    margin-bottom: 70px;
  }

  .btn {
    margin-left: 0;
    margin-top: 10px;
  }

  .col-form-label, .form-control {
    font-size: small;
  }

  .form-control {
    width: 100%;
  }

  .about {
    display: block;
    margin-left: 0;
  }

  .btn.btn-primary {
    width: 100%;
    margin-top: 10px;
  }

  .idk {
    height: auto;
    width: 100%;
  }
}
